---

---

<div class="nav">
  <div id="nav_toggle">
    <div>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<nav>
  <ul>
    <li><a href="/"><span>2024あじがさわフードフェス</span></a></li>
    <li><a href="/event"><span>催し物</span></a></li>
    <li>
      <a href="/kinniku-fes"><span>第2回あじがさわ筋肉のフェスティバル</span></a
      >
    </li>
    <li>
      <a href="/access"><span>アクセスと会場図</span></a>
    </li>
    <li>
      <a href="/storelist"><span>商品券取扱店舗一覧</span></a>
    </li>
  </ul>
</nav>

<style src="../styles/Menubar.css"></style>

<script src={Astro.resolve('../scripts/Menubar.js')}></script>
