---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Mainimage from "../images/2025/main-image.webp";
import Footer from "../modules/Footer.astro";
import Menubar from "../modules/Menubar.astro";
import Header__titleDesk from "../images/header__title-desc.svg";
import TabComponent from "../modules/TabComponent.astro";
import FoodTitle from "../images/2025/food_title.svg";
import StageEvents from "../modules/StageEvents.astro";
import ExperienceCorner from "../modules/ExperienceCorner.astro";
import RogainingEvent from "../modules/RogainingEvent.astro";
import "../styles/index.scss";
import indexScriptUrl from "../scripts/index.js?url";
---

<Layout title="あじがさわフードフェス2024">
  <Menubar />
  <main>
    <div class="site-container">
      <header class="header">
        <div class="header__image">
          <Image
            src={Mainimage}
            alt="あじがさわフードフェス2025 メインビジュアル"
          />
        </div>
      </header>
      <!-- タブコンポーネント -->
      <TabComponent />
      <!-- ステージイベントコンポーネント -->
      <StageEvents />
      <!-- 体験コーナーコンポーネント -->
      <ExperienceCorner />
      <!-- ロゲイニングイベントコンポーネント -->
      <RogainingEvent />
    </div>
    <!-- フッターコンポーネント -->
    <Footer />
  </main>
  <script src={indexScriptUrl}></script>
</Layout>
