---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Mainimage from "../images/2025/main-image.webp";
import Footer from "../modules/Footer.astro";
import Menubar from "../modules/Menubar.astro";
import Header__titleDesk from "../images/header__title-desc.svg";
import TabComponent from "../modules/TabComponent.astro";
import IndexScript from "../scripts/index.js?url";
import FoodTitle from "../images/2025/food_title.svg";
import StageEvents from "../modules/StageEvents.astro";
import ExperienceCorner from "../modules/ExperienceCorner.astro";
import RogainingEvent from "../modules/RogainingEvent.astro";
import Access from "../modules/Access.astro";
import "../styles/index.scss";
import indexScriptUrl from "../scripts/index.js?url";
import EventDate from "../images/2025/event-date.svg";
import EventDateSp from "../images/2025/event-date-sp.svg";
---

<Layout title="あじがさわフードフェス">
  <Menubar />
  <main>
    <div class="site-container">
      <header class="header">
        <div class="header__image">
          <Image
            src={Mainimage}
            alt="青森県鰺ヶ沢町で開催される『あじがさわフードフェス』のメインビジュアル。ヒラメのヅケ丼や肉グルメ、スイーツが集結し、家族連れで賑わう様子を表現。"
          />
        </div>
        <div class="header__event-date">
          <picture>
            <source srcset={EventDateSp.src} media="(max-width: 768px)" />
            <Image src={EventDate} alt="開催日 2025年10月5日(日)" />
          </picture>
        </div>
      </header>
      <!-- タブコンポーネント -->
      <TabComponent />
      <!-- ステージイベントコンポーネント -->
      <StageEvents />
      <!-- 体験コーナーコンポーネント -->
      <ExperienceCorner />
      <!-- ロゲイニングイベントコンポーネント -->
      <RogainingEvent />
      <!-- アクセスコンポーネント -->
      <Access />
    </div>
    <!-- フッターコンポーネント -->
    <Footer />
  </main>
  <script src={indexScriptUrl}></script>
</Layout>
