---
import Layout from "../layouts/Layout.astro";
---

<Layout title="あじがさわフードフェス2024">
  <main>
    <div class="container">
      <h1>「2024あじがさわフードフェス」は現在準備中です</h1>
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/kinniku-fes.html">筋肉フェス</a></li>
      </ul>
    </div>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
</Layout>
