---
import Layout from "../layouts/Layout-Kinniku.astro";
import { Image } from "astro:assets";
import KinnikufesHeaderImage from "../images/kinnikufes__header-image.webp";
import KinnikufesMainImage from "../images/kinnikufes__main-image.webp";
---

<Layout title="筋肉のフェスティバル | あじがさわフードフェス2024">
  <header class="header">
    <div class="header__container">
      <section class="header__image">
        <Image src={KinnikufesHeaderImage} alt="筋肉フェスタイトル" />
      </section>
    </div>
  </header>
  <main class="main">
    <div class="main__container">
      <section class="main__header">
        <h1 class="main__header-title" data-en="About">
          あじがさわ筋肉のフェスティバルとは
        </h1>
        <p>
          あじがさわ筋肉のフェスティバルは、「あじがさわ肉のフェスティバル」の併催イベントとして2023年に初めて開催したボディメイクコンテストです。<br
          />
          公式大会のような厳格なクラス分けやルールはございませんので、日々の成果を披露する場、公式大会にステップアップするための機会等、ストイックに健康増進に励まれる方々の個性を披露して楽しんでいただく大会でありたいと思っています。<br
          />
          目指すは、短命県返上！トレーニングのきっかけは「あじがさわ」から！
        </p>
      </section>
      <section class="main__list">
        <div>
          <h2 class="main__list-item" data-en="Event">開催日時</h2>
          <p>2024年10月8日（SUN）</p>
        </div>
        <div>
          <h2 class="main__list-item" data-en="Hours">受付時間</h2>
          <p>9:00～9:30 <br />（当日のエントリーは出来ません）</p>
        </div>
        <div>
          <h2 class="main__list-item" data-en="Place">受付場所</h2>
          <p>鰺ヶ沢町中央公民館 2階</p>
        </div>
        <div>
          <h2 class="main__list-item" data-en="Venue">会場</h2>
          <p>鰺ヶ沢町 海の駅わんど向かい特設会場</p>
        </div>
        <div>
          <h2 class="main__list-item" data-en="Class">クラス</h2>
          <p>男性フリー、女性フリー<br />（年齢・身長・体重等全てフリー）</p>
        </div>
        <div>
          <h2 class="main__list-item" data-en="Cost">参加費</h2>
          <p>無料</p>
        </div>
        <div>
          <h2 class="main__list-item" data-en="Period">申込期間</h2>
          <p>2024年8月1日（木）～9月17日（火）</p>
        </div>
        <div>
          <h2 class="main__list-item" data-en="Apply">応募方法</h2>
          <p>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfC-YOdrZZrBvcpoyb4g99i8TxxJhqLw5IeVJ0vt8iY_NJ-lg/viewform?usp=sf_link"
              target="_blank">専用フォームからお申込みください</a
            >
          </p>
        </div>
      </section>
    </div>
    <hr class="hr" />
    <div class="main__container">
      <section class="main__header">
        <h1 class="main__header-title" data-en="Performance">パフォーマンス</h1>
        <p>
          受付終了後、パーソナルジムCORE　木村拓磨
          氏による演技指導を（30分程度）行い、本番の審査では下記内容にて審査を行います。
        </p>
      </section>
      <section class="main__card">
        <div class="main__card-item">
          <div class="meta">
            <div
              class="photo"
              style="background-image: url(/images/card-bg-group.webp)"
            >
            </div>
          </div>
          <div class="description">
            <h1>1.グループ審査</h1>
            <p>フロント（2ポーズ）15秒</p>
            <p>バック（2ポーズ）15秒</p>
          </div>
        </div>
        <div class="main__card-item">
          <div class="meta">
            <div
              class="photo"
              style="background-image: url(/images/card-bg-solo.webp)"
            >
            </div>
          </div>
          <div class="description">
            <h1>2.一人ずつ</h1>
            <p>フリーポーズ20秒</p>
          </div>
        </div>
        <div class="main__card-item">
          <div class="meta">
            <div
              class="photo"
              style="background-image: url(/images/card-bg-special.webp)"
            >
            </div>
          </div>
          <div class="description">
            <h1>3.審査員アピール</h1>
            <p>審査員から呼ばれた選手</p>
            <p>フロント・バック各2ポーズ30秒</p>
          </div>
        </div>
      </section>
      <section class="main__header-image">
        <div>
          <Image src={KinnikufesMainImage} alt="特別審査員" />
        </div>
      </section>
      <dl class="main__qa">
        <div class="man__qa-item">
          <dt>
            <p>審査員の数は？</p>
          </dt>
          <dd>
            <p>
              5名<br
              />特別審査員&nbsp;パーソナルジムcore&nbsp;オーナー&nbsp;木村&nbsp;拓磨氏
            </p>
          </dd>
        </div>
        <div class="man__qa-item">
          <dt>
            <p>審査基準は？</p>
          </dt>
          <dd>
            <p>全体のバランス、筋肉の発達、ポーズ、表情、ユーモア</p>
          </dd>
        </div>
        <div class="man__qa-item">
          <dt>
            <p>服装規定は？</p>
          </dt>
          <dd>
            <ul>
              <li>男性：腰から膝までのハーフパンツ等</li>
              <li>女性：スポーツブラ、ショートパンツ</li>
            </ul>
          </dd>
        </div>
        <div class="man__qa-item">
          <dt>
            <p>大会賞品はある？</p>
          </dt>
          <dd>
            <ul>
              <li>優勝者　パーソナルジムCORE　プロテイン</li>
              <li>特別審査員賞　パーソナルジムCORE　トレーニングチケット</li>
              <li>※上記以外にも参加賞・副賞・各審査員賞あり</li>
            </ul>
          </dd>
        </div>
        <div class="man__qa-item">
          <dt>
            <p>注意事項について教えてください</p>
          </dt>
          <dd>
            <ul>
              <li>
                タトゥー等ある方は、ファンデーション、シール等で隠せる範囲で出場可能です。
              </li>
              <li>ボディメイクを始めたばかりの方も参加可能です。</li>
              <li>※当日の飛び入り参加はできません。</li>
            </ul>
          </dd>
        </div>
      </dl>
      <div class="main__card-item alt">
        <div class="meta">
          <div
            class="photo"
            style="background-image: url(/images/bnr_img.webp)"
          >
          </div>
        </div>
        <div class="description cta">
          <h1>申込期間：2024年8月1日（木）～9月17日（火）</h1>
          <div>
            <p class="description-text">
              海をバックに、日々、ストイックに磨き上げたボディをご披露ください。栄冠は誰のボディに！
            </p>
            <p class="read-more">
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfC-YOdrZZrBvcpoyb4g99i8TxxJhqLw5IeVJ0vt8iY_NJ-lg/viewform"
                target="_blank">専用フォームからお申し込み</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <hr class="hr" />
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__main">
        <div>
          <p>主催</p>
          <p>鰺ヶ沢</p>
          <p>協力</p>
          <p>鰺ヶ沢町観光協会、鯵ヶ沢町商工会、パーソナルジムCORE</p>
        </div>
        <div>
          <p>お問い合わせ先</p>
          <p>
            あじがさわフードフェス2024開催業務受託　株式会社プラス　五所川原市字田町121番地2<br
            />TEL 0173-26-7071（平日9：00～17：00）／FAX 0173-26-7072
          </p>
        </div>
      </div>
    </div>
  </footer>
</Layout>

<style lang="scss">
  $color_white: #fff;
  $color_beige: rgba(196, 157, 97, 0.5);
  $color_black: #120811;

  html {
    background-color: rgb(255, 250, 226);
    color: $color_black;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .hr {
    border: 0 none;
    height: 1px;
    color: $color_black;
    background-color: $color_black;
  }

  /* header */
  .header {
    background-image: url("../images/kinnikufes__header-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    backdrop-filter: brightness(60%);
    @media (max-width: 768px) {
      background-position: bottom;
    }
  }

  .header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
  }

  .header__image {
    & img {
      width: 100%;
      height: 100%;
    }
  }

  /* main */
  .main {
    background-color: rgb(255, 250, 226);
  }

  .main__container {
    max-width: 1200px;
    margin: clamp(2.125rem, 0.375rem + 8.75vw, 6.938rem) auto 0;
    color: $color_black;
    padding: 1.5rem;
  }

  .main__header {
    p {
      font-size: clamp(0.875rem, 0.648rem + 1.14vw, 1.5rem);
    }
  }

  .main__header-item {
    & ul {
      list-style-type: none;
      padding: 0 0 0 1rem;
      & li {
        font-size: clamp(0.875rem, 0.648rem + 1.14vw, 1.5rem);
      }
    }
  }

  .main__image {
    width: 100%;
    & img {
      width: 100%;
      height: auto;
    }
  }

  .main__list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 0 clamp(2.125rem, 0.716rem + 7.05vw, 6rem) 0;
    & div {
      flex: 1 1 calc(50% - 1rem);
      box-sizing: border-box;
      & p {
        font-size: clamp(0.875rem, 0.648rem + 1.14vw, 1.5rem);
      }
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .main__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .main__card-item {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
    margin-bottom: 1.6%;
    background: $color_white;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    width: 33%;
    @media (max-width: 768px) {
      width: 100%;
    }

    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      transition: transform 0.2s;
    }
    .details,
    .details ul {
      margin: auto;
      padding: 0;
      list-style: none;
    }

    .details {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      margin: auto;
      transition: left 0.2s;
      background: rgba(#000, 0.6);
      padding: 10px;
      width: 100%;
      font-size: 0.9rem;
      a {
        text-decoration: dotted underline;
      }
      ul li {
        display: inline-block;
      }
      .author:before {
        font-family: FontAwesome;
        margin-right: 10px;
        content: "\f007";
      }

      .date:before {
        font-family: FontAwesome;
        margin-right: 10px;
        content: "\f133";
      }

      .tags {
        ul:before {
          font-family: FontAwesome;
          content: "\f02b";
          margin-right: 10px;
        }
        li {
          margin-right: 2px;
          &:first-child {
            margin-left: -4px;
          }
        }
      }
    }
    .description {
      padding: 2rem 1rem;
      background: $color_white;
      position: relative;
      z-index: 1;
      height: auto;
      h1,
      h2 {
        font-family: Poppins, sans-serif;
      }
      h1 {
        line-height: 1;
        margin: 0;
        font-size: clamp(1rem, 0.891rem + 0.55vw, 1.3rem);
      }
      h2 {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 5px;
        font-family: luxus-brut, cursive;
      }
      .read-more {
        text-align: right;
        a {
          color: $color_beige;
          display: inline-block;
          position: relative;
          &:after {
            content: "→";
            font-weight: bold;
            margin-left: -10px;
            opacity: 0;
            vertical-align: middle;
            transition:
              margin 0.3s,
              opacity 0.3s;
          }

          &:hover:after {
            margin-left: 5px;
            opacity: 1;
          }
        }
      }
    }
    p {
      position: relative;
      margin: 1rem 0 0;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: $color_beige;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
    &:hover {
      .details {
        left: 0%;
      }
    }

    @media (min-width: 640px) {
      flex-direction: row;
      .meta {
        flex-basis: 40%;
        height: auto;
      }
      .description {
        flex-basis: 60%;
        &:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      }
      &.alt {
        flex-direction: row-reverse;
        width: 70%;
        height: 220px;
        margin: clamp(2.125rem, 0.716rem + 7.05vw, 6rem) auto
          clamp(2.125rem, 0.716rem + 7.05vw, 6rem);
        h1 {
          font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem) !important;
        }
        p {
          font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem) !important;
          font-weight: bolder !important;
        }
        a {
          font-weight: bold !important;
          font-size: clamp(1rem, 0.855rem + 0.73vw, 1.4rem) !important;
          color: red !important;
        }
        .description {
          &:before {
            left: inherit;
            right: -10px;
            transform: skew(3deg);
          }
        }
        .details {
          padding-left: 25px;
        }
      }
    }
  }

  .main__list-item {
    position: relative;
    padding-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
    font-size: clamp(1rem, 0.773rem + 1.14vw, 1.625rem);
  }

  .main__list-item span {
    position: relative;
    z-index: 2;
  }

  .main__list-item::before {
    content: attr(data-en);
    position: absolute;
    top: 10px;
    left: 0;
    color: $color_beige;
    font-size: clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);
    font-family: luxus-brut, cursive;
    font-style: italic;
  }

  .main__header-title {
    position: relative;
    padding-top: clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);
    padding-left: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    font-weight: bold;
  }

  .main__header-title span {
    position: relative;
    z-index: 2;
  }

  .main__header-title::before {
    content: attr(data-en);
    position: absolute;
    transform: rotate(-5deg);
    top: -20px;
    left: 0;
    color: $color_beige;
    font-size: clamp(1.875rem, 0.739rem + 5.68vw, 5rem);
    font-weight: 400;
    font-family: luxus-brut, cursive;
    font-style: italic;
  }

  .main__header-image {
    margin: 2rem 0;
    & div {
      width: 100%;
      & p {
        font-size: 24px;
      }
      & img {
        width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  .main__qa {
    width: 80%;
    margin: 0 auto;
  }

  .main__qa .man__qa-item dt,
  .main__qa .man__qa-item dd {
    display: flex;
    align-items: baseline;
    margin: 15px 0;
    padding: 15px;
  }

  .main__qa .man__qa-item dt {
    background: $color_white;
  }

  .main__qa .man__qa-item dt p {
    margin: 0;
    padding-left: 15px;
    font-weight: bold;
    width: 100%;
  }

  .main__qa .man__qa-item dd p {
    margin: 0;
    padding-left: 15px;
    width: 100%;
    font-size: clamp(1rem, 1.364rem + -1.82vw, NaNrem);
  }

  .main__qa .man__qa-item dd ul {
    list-style-type: none;
    padding-left: 15px;
  }

  .main__qa .man__qa-item dd li {
    font-size: clamp(1rem, 1.364rem + -1.82vw, NaNrem);
    margin-bottom: 1rem;
  }

  .main__qa .man__qa-item dt::before {
    content: "Q";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #6699b7;
    width: 2em;
    height: 2em;
  }

  .main__qa .man__qa-item dd::before {
    content: "A";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #d65556;
    width: 2em;
    height: 2em;
  }

  @media screen and (max-width: 960px) {
    .main__qa {
      width: 95%;
    }
  }

  /* footer */
  .footer__main {
    & div:nth-of-type(1) {
      display: flex;
      gap: 1rem;
      & p {
        padding: 2px 8px;
      }
      & p:nth-of-type(1) {
        border: solid 2px $color_black;
        border-radius: 4px;
      }

      & p:nth-of-type(3) {
        border: solid 2px $color_black;
        border-radius: 4px;
      }
    }
    & div:nth-of-type(2) {
      display: flex;
      gap: 1rem;
      & p {
        padding: 2px 8px;
        display: flex;
        align-items: center;
      }
      & p:nth-of-type(1) {
        border: solid 2px $color_black;
        border-radius: 4px;
      }
    }
    @media (max-width: 768px) {
      & div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        & p {
          padding: 0;
        }
      }
      & div:nth-of-type(2) {
        gap: 0;
      }
      & div:nth-of-type(1) {
        gap: 0;
      }
    }
  }

  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
  }

  .cta {
    padding: 2rem 1rem;
    h1 {
      font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
    }
    div {
      padding: 16px 0;
    }
    .description-text {
      font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
      font-weight: bolder;
    }
    a {
      font-weight: bold;
      font-size: clamp(1rem, 0.855rem + 0.73vw, 1.4rem);
      color: red;
    }
  }
</style>
