---
import Layout from "../layouts/Layout-Kinniku.astro";
import { Image } from "astro:assets";
import KinnikufesHeaderImage from "../images/kinnikufes__header-image.jpg";
---

<Layout title="筋肉のフェスティバル | あじがさわフードフェス2024">
  <main class="main">
    <section class="kinnikufes">
      <div class="kinnikufes__header">
        <div class="kinnikufes__header-image">
          <Image src={KinnikufesHeaderImage} alt="筋肉フェス参加者" />
        </div>
      </div>
    </section>
  </main>

  <style>
    .container {
      max-width: 1600px;
      margin: 0 auto;
    }
    .kinnikufes__header-image {
      & img {
        width: 100%;
        height: 100%;
      }
    }
  </style>
</Layout>
