---
import Layout from "../layouts/Layout-Kinniku.astro";
import { Image } from "astro:assets";
import KinnikufesHeaderImage from "../images/kinnikufes__header-image.webp";
import KinnikufesMainImage from "../images/kinnikufes__main-image.webp";
---

<Layout title="筋肉のフェスティバル | あじがさわフードフェス2024">
  <header class="header">
    <div class="header__container">
      <section class="header__image">
        <Image src={KinnikufesHeaderImage} alt="筋肉フェスタイトル" />
      </section>
    </div>
  </header>
  <main class="main">
    <div class="main__container">
      <div class="main__header">
        <p>昨年に引き続き、今年も鰺ヶ沢町にてボディメイクコンテスト</p>
        <p>「第２回筋肉のフェスティバル」を開催いたします。</p>
        <p>
          海をバックに、日々、ストイックに磨き上げたボディをご披露ください。
        </p>
        <p>栄冠は誰のボディに！</p>
      </div>
      <section class="main__image">
        <Image src={KinnikufesMainImage} alt="特別審査員" />
      </section>
      <section class="main__text">
        <div>
          <p>｜会場｜</p>
          <p>鰺ヶ沢町 海の駅わんど向かい特設会場</p>
        </div>
        <div>
          <p>｜クラス｜</p>
          <p>男性フリー、女性フリー<br /> ※年齢・身長・体重等全てフリー</p>
        </div>
        <div>
          <p>｜参加費｜</p>
          <p>無料</p>
        </div>
        <div>
          <p>｜参加申込期間｜</p>
          <p>2024年8月1日（木）～9月17日（火）</p>
        </div>
        <div>
          <p>｜応募方法｜</p>
          <p>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfC-YOdrZZrBvcpoyb4g99i8TxxJhqLw5IeVJ0vt8iY_NJ-lg/viewform?usp=sf_link"
              target="_blank">専用フォームからお申込みください</a
            >
          </p>
        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__main">
        <div>
          <p>主催</p>
          <p>鰺ヶ沢</p>
          <p>協力</p>
          <p>鰺ヶ沢町観光協会、鯵ヶ沢町商工会、パーソナルジムCORE</p>
        </div>
        <div>
          <p>お問い合わせ先</p>
          <p>
            あじがさわフードフェス2024開催業務受託　株式会社プラス　五所川原市字田町121番地2<br
            />TEL 0173-26-7071（平日9：00～17：00）／FAX 0173-26-7072
          </p>
        </div>
      </div>
    </div>
  </footer>

  <style>
    html {
      background-color: #120811;
      color: #fff;
      font-size: 16px;
      font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    /* header */
    .header {
      background-image: url("../images/kinnikufes__header-background.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom -500px right 0px;
      backdrop-filter: brightness(60%);
    }

    .header__container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .header__image {
      & img {
        width: 100%;
        height: 100%;
      }
    }

    /* main */
    .main {
      background-color: #120811;
      padding: 1.5rem 1.5rem 0 1.5rem;
      gap: 2rem;
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .main__container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .main__header {
      font-size: 1.8rem;
      text-align: center;
    }

    .main__image {
      width: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    }

    .main__text {
      width: 100%;
      align-self: center;
      & div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        & p {
          color: #fff;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    /* footer */
    .footer__main {
      padding: 0 1.5rem 0 1.5rem;
      border-top: solid 5px #fff;
      & div:nth-of-type(1) {
        display: flex;
        gap: 1rem;
        & p {
          padding: 2px 8px;
        }
        & p:nth-of-type(1) {
          border: solid 2px #fff;
          border-radius: 4px;
        }

        & p:nth-of-type(3) {
          border: solid 2px #fff;
          border-radius: 4px;
        }
      }
      & div:nth-of-type(2) {
        display: flex;
        gap: 1rem;
        & p {
          padding: 2px 8px;
          display: flex;
          align-items: center;
        }
        & p:nth-of-type(1) {
          border: solid 2px #fff;
          border-radius: 4px;
        }
      }
      @media (max-width: 768px) {
        border-top: solid 1px #fff;
        padding: 1.5rem;
        & div {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          & p {
            padding: 0;
          }
        }
        & div:nth-of-type(2) {
          gap: 0;
        }
        & div:nth-of-type(1) {
          gap: 0;
        }
      }
    }

    .footer__container {
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
</Layout>
